# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# Local Models (Users should download these via your main.py script)
face_landmarker.task
yolov8n.pt

# User Data & Logs (Privacy)
suspicious_events.log
*.pdf

# System Files
.DS_Store